html,body{
  margin: 0;
  padding: 0;
  border: none;
  background: navy;
}
.container {
  width: 100%;
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: Impact;
  color: #ffffee;
  letter-spacing: 3pt;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 155px;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-family: Impact;
  font-size: 25pt;
  color: white;
  margin: 0 0 10px 0;
  text-align: center;

}

button{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: Impact;
  margin: 60px;
  padding: 20px;
  color: goldenrod;
  background-color: black;
  letter-spacing: 1pt;
  margin-top: 100px;
  margin-left: 23%;
}

table {
 border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  margin-left: 24%;
  margin-top: 5%; 

}
tr:nth-child(odd) {
  background-color: white;
}
tr:nth-child(even) {
  background-color: blue;
}

tr, td {
  padding: 15px;
}

#mytable{
	text-align:left;
}
h2{
	text-align:center;
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color:#cb8feb ;
}
    
